@charset "utf-8";

body {
    margin:0 auto;
    font:16px/1.5 dotum,gulim,batang;
    color:#222328;
    background:#fff;
}
a,a:link {
    color:#222328;
    text-decoration:none;
}
.notext {
    display:none;
}
.popup {
    display:none;
    width:500px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#fff;
    box-sizing:border-box;
    border:1px solid #222328;
    padding:50px;
    z-index:999;
}
.wrapper {
    width:1200px;
    margin:0 auto;
    background:#ddd;
}
.header {
    background:gold;
    height:100px;
}
.slide {
    height:300px;
    background:coral;
}
.contents {
    height:200px;
    background:darksalmon;
}
#board_tab {
    width:480px;
    float:left;
    box-sizing:border-box;
    padding: 0 20px 0 0;
    font-size:15px;
}
.board_title {
    height:50px;
    border-bottom:2px solid red;
    box-sizing:border-box;
}
.board_contents {
    overflow: hidden;
    height:150px;
    position:relative;
}
.board_title li{
    display:inline-block;
    margin:16px 0 0 0;
}
.board_title li.on a {
    background:red;
    display:block;
    color:#fff;
    padding:5px 10px;                        
}
#notice li {
    position: relative;
    margin: 5px 0;
}
#notice li span {
    position: absolute;
    font-size:0.8em;
    right:0;
}
#notice {
    list-style:square inside;
    margin:0 0 0 1em;
}
.hide {
    display:none;

}
#gallery {
    padding:10px 0 0 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    text-align: center;
}
#gallery li {
    display:inline-block;
}
#gallery li:nth-child(2) {
    margin:0 10px;
}
#gallery li img {
    width:140px;
    height:120px;
}
#banner {
    width:360px;
    background:gold;
    float:left;
    height:200px;
}
#shortcut {
    width:360px;
    background:greenyellow;
    float:left;
    height:200px;
}
.footer {
    background:darkorange;
    height:100px;
}