$font-stack:Helvetica,dotum,sans-serif;
$primary-color:#f00;
$base-size:1em;
body {
    margin:0;
    padding:0;
    h1 {
        font-size:$base-size;
    }
    p {
        color:darken($primary-color,50%);
    }
}
